.table {
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid var(--border-color);
  width: 100%;
  min-width: 500px;

  th, td {
    border-bottom: 1px solid rgba(var(--secondary-rgb), .6);
    padding: 0.3rem;
  }

  th {
    background-color: rgba(var(--secondary-rgb), .6);
    text-align: left;
  }
}
