.footer {
  display: flex;
  align-items: center;
  height: 1.5rem;
  background-color: var(--secondary);
  padding: 0.5rem 1rem;

  &Inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    font-size: 0.8rem;
    font-weight: 700;
  }
}
