.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.align-center {
  align-items: center !important;
}

.flex-full {
  flex: 1 1 auto !important;
}
