:root {
  /* Colors */
  --primary: #11194a;
  --primary-rgb: 17, 25, 74;
  --secondary: #c8c8c8;
  --secondary-rgb: 200, 200, 200;
  --warning: #e0e1c1;
  --warning-rgb: 224, 225, 193;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --text-color: #212529;

  /* Backgrounds Colors */
  --bg-primary: var(--primary);
  --bg-primary-rgb: var(--primary-rgb);
  --bg-secondary: var(--secondary);
  --bg-secondary-rgb: var(--secondary-rgb);
  --bg-warning: var(--warning);
  --bg-warning-rgb: var(--warning-rgb);

  /* Borders */
  --border-primary-color: var(--gray-300);
  --border-secondary-color: var(--gray-900);

  /* Gradients */
  --primary-gradient: linear-gradient(135deg, var(--primary) 0%, rgba(var(--primary-rgb), .8) 100%);

  /* Typography */
  --font-family: 'Roboto', sans-serif;

  --text-xs: 0.6875rem;
  --text-sm: 0.75rem;
  --text-base: 0.875rem;
  --text-lg: 1rem;
  --text-xl: 1.125rem;
  --text-2xl: 1.25rem;
  --text-3xl: 1.5rem;

  --display-1: 1.802rem;
  --display-2: 1.602rem;
  --display-3: 1.424rem;
  --display-4: 1.266rem;
  --display-5: 1.125rem;
  --display-6: 1rem;
}
